<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="dmzing.workd">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- GPS setting -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
            android:name=".network.ApplicationController"
            android:allowBackup="true"
            android:icon="@drawable/app_icon_google_play"
            android:label="@string/app_name"
            android:roundIcon="@drawable/app_icon_google_play"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".view.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".view.MainActivity"/>
        <activity
                android:name=".view.login.LoginActivity"
                android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".view.signup.SignUpOneActivity"/>
        <activity android:name=".view.signup.SignUpTwoActivity"/>
        <activity android:name=".view.signup.SignUpThreeActivity"/>
        <activity android:name=".view.mypage.point.MypagePointActivity"/>
        <activity android:name=".view.mypage.MypageReviewActivity"/>
        <activity android:name=".view.mypage.MyLetterActivity"/>
        <activity android:name=".view.mypage.setting.SettingActivity"/>
        <activity android:name=".view.mypage.setting.ServiceActivity"/>
        <activity android:name=".view.mypage.setting.ServiceDetailActivity"/>
        <activity android:name=".view.review.ReviewListActivity"/>
        <activity android:name=".view.course.CourseDetailActivity"/>
        <activity
                android:name=".view.review.PhotoDetailActivity"
                android:theme="@style/Theme.AppCompat.ActivityTransparent"/>
        <activity android:name=".view.mypage.MypageCourseActivity"/>
        <activity android:name=".view.review.ReviewWriteActivity"/>
        <activity android:name=".view.review.WriteDayActivity"/>
        <activity android:name=".view.review.ReviewActivity"/>
        <activity android:name=".view.review.PhotoReviewWriteActivity"/>
        <activity android:name=".view.map.CourseMainActivity"/>
        <activity android:name=".view.map.CoursePlaceActivity"/>
        <activity android:name=".view.signup.SignUpActivity">
        </activity>
        <activity android:name=".view.mypage.faq.FAQActivity">
        </activity>
        <activity android:name=".view.ChatbotActivity">
        </activity>
    </application>

</manifest>